<table align="center" style="width: 100%;font-family:monospace;">
    <tr align="center">
        <td>
            <table style="border-radius: 5px;width:600px;margin:0;padding:20px;border:0;-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.20); -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.20); box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.20);" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td style="background-color: #E6DADA;padding:30px 24px 24px 24px;background: -webkit-linear-gradient(to right,  #274046, #E6DADA);background: linear-gradient( to right,#274046, #E6DADA);">
                            <div style="height:100; overflow: hidden; position: relative;">
                                <a style="text-align:center;padding-left:19%; border:0;text-decoration:none;" target="_blank" href="Model.SiteUrl">
                                    <img src="https://www.suratkargo.com.tr/assets/images/basinkiti/S%C3%BCrat%20Kargo%20-%20PNG.png" width="300" alt="suratkargo" style="border:0;  margin:-50px 0px 0px 0px" />
                                </a>
                            </div>
                            </br><br />
                            <span style="font-family:monospace;font-size: 19px;color: rgb(106 91 91); color: white;">
                                <b>Norm Ekleme Talebi</b>
                            </span></br>
                            <span style="font-family:monospace;font-size: 13px; color: rgb(106 91 91); color: white;">
                                Bölge Operasyon - Norm Arttırma Talebi
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="12">
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table style="margin-top: 10px;width:560px;margin:0;padding:12px;border: 1px solid #E3E3E3;border-radius:2px;" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td colspan="7" style="padding: 7px 0 0 3px;">
                                        <span style="text-align: justify;margin: 0;font-family:monospace;font-size: 14px;color: #303435;"><b>Talep Türü :</b> Norm Arttırma </span>
                                    </td>
                                    <td rowspan="3" colspan="5" style="padding: 7px 0 0 3px;">
                                        <a style="text-decoration:none;" href="Model.ViewDetailUrl">
                                            <span style="width: 100px; padding:0px 5px 0px 5px ;line-height: 40px;text-align: center;float:right; background-color: #42565b;border-radius: 4px;font-family: monospace;font-weight: bold;font-size: 11px;color: #E6F6FC;text-decoration: none;"> Talep Detayı</span>
                                        </a><br />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="8" style="padding: 7px 0 0 3px;">
                                        <span style="text-align: justify;margin: 0;font-family:monospace;font-size: 14px;color: #303435;"><b>Talep Eden Departman :</b> Operasyon </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="8" style="padding: 7px 0 0 3px;">
                                        <span style="text-align: justify;margin: 0;font-family: monospace;font-size: 14px;color: #303435;"><b>Talep Edilen Norm :</b> Bölge Temizlik Personeli</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="8" style="padding: 7px 0 0 3px;">
                                        <span style="text-align: justify;margin: 0;font-family: monospace;font-size: 14px;color: #303435;"><b> Talep Tipi : </b> Ayrılma </span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>



